body {
    background-color: rgb(231, 231, 95);
    color: black;
    text-align: center;
   padding-top: 160px;
}

h1 {
    padding-top: 25px;
}


button {
    color: white;
    background-color: red;
font-size: 23px;
font-weight: bolder;
border: none;
border-radius: 25px;
width: 21%;
}