@font-face {
    font-family: mexican;
    src: url(../fonts/MexicanTequila.ttf);
  }

h1{
    font-family: mexican;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
}

body{
    background-color: rgb(231, 231, 95);
    margin: 0%;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;

}
input{
    padding: 10px;
    margin: 20px;

}

.enviar{
    background-color: red;
    text-align: center;
}

.enviar:hover{
    background-color: white;
    text-align: center;
}

.enviar:active{
    color: red;
    text-align: center;
}
#input_mensagem{
    padding: 15px;
    text-align: center;

}

#iframe_header {
    margin: 0;
    padding: 0;
    height: 185px;
    bottom: 0%;
}

header{
    margin: 0;
    padding: 0;
}
footer{
    background-color: red;
    margin: 0;
    padding: 0;
    margin-top: 150px;
    bottom: 0%;
    height: 185%;
    vertical-align: middle;
}

#iframe_footer {
    margin: 0;
    padding: 0;
    bottom: 0;
    height: 100%;
}

article{
    text-align: center;
    align-items: center;
}

#textcenter {
    align-content: center;
}

#container {
    margin-left: 40%;
    margin-right: 60%;
}

