@font-face {
    font-family: mexican;
    src: url(../fonts/MexicanTequila.ttf);
  }

h1{
    font-family: mexican;
    font-size: 50px;
    font-weight: 200;
}

h2{
    font-family: mexican;
    font-size: 50px;
    font-weight: 200;
}

body{
    margin: 0%;
    background-color: rgb(231, 231, 95);
    font-family: verdana;
}

#members{
    text-align: center;
    color: white;
    background-color: rgb(255, 70, 70);
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 15px 8px 55px -25px rgba(0, 0, 0, 0.75);
}


#top{
    text-align: center;
}

#aboutus{
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(255, 255, 84);
    box-shadow: 15px 8px 55px -25px rgba(0, 0, 0, 0.75);
}

.people{
    display: flex;
}

#pedro{
    background-color: rgb(255, 126, 126);
    color: white;
    border: 2px solid black;
    margin: 10px;
    width: 33%;
    height: 500px;
    text-align: center;
    box-shadow: 15px 8px 55px -25px rgba(0, 0, 0, 0.75);

}

#pablo{
    background-color: rgb(255, 126, 126);
    color: white;
    border: 2px solid black;
    margin: 10px;
    width: 33%;
    height: 500px;
    text-align: center;
    box-shadow: 15px 8px 55px -25px rgba(0, 0, 0, 0.75);
    text-decoration: none;
}

#marcelo{
    background-color: rgb(255, 126, 126);
    color: white;
    border: 2px solid black;
    margin: 10px;
    width: 33%;
    height: 500px;
    text-align: center;
    box-shadow: 15px 8px 55px -25px rgba(0, 0, 0, 0.75);
}

#nathan{
    background-color: rgb(255, 126, 126);
    color: white;
    border: 2px solid black;
    margin: 10px;
    width: 68%;
    height: 500px;
    text-align: center;
    box-shadow: 15px 8px 55px -25px rgba(0, 0, 0, 0.75);
}


#aline{
    background-color: rgb(255, 126, 126);
    color: white;
    border: 2px solid black;
    margin: 10px;
    width: 71%;
    height: 500px;
    text-align: center;
    box-shadow: 15px 8px 55px -25px rgba(0, 0, 0, 0.75);
}

#lucas{
    background-color: rgb(255, 126, 126);
    color: white;
    border: 2px solid black;
    margin: 10px;
    width: 71%;
    height: 500px;
    text-align: center;
    box-shadow: 15px 8px 55px -25px rgba(0, 0, 0, 0.75);
}