<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" href="style.header.css">
</head>
<body>
    <header>
        <div class="container">
            <img src="../assets/images/open-uri20181201-14-1qajzwd.jpg" width="64px" height="64px">
            <h1>Los Pollos Hermanos</h1>
                <ul>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
                </ul>
            </div>
    </header>
</body>
</html>