<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" href="style.header.css">
</head>
<body>
    <header>
            <img src="../assets/images/open-uri20181201-14-1qajzwd.jpg" width="64px" height="64px">
            <h1>Los Pollos Hermanos</h1>
                <ul>
                <li><a href="../index.html" target="_parent">Menu</a></li>
                <li><a href="../pages/sobrenos.html" target="_blank">Sobre</a></li>
                <li><a href="../pages/contatos.html" target="_parent">Contato</a></li>
                </ul>
    </header>
</body>
</html>