@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.spin{
    animation: spin 1.25s linear;
}

body {
    text-align: center;
    margin: 0;
    padding: 0;
    height: 185px;
    width: 100%;
    background-color: red;
    position: fixed;
}
a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul {
    list-style: none;
    margin-top: 15px;
    list-style-type: none;
    margin:auto;
}
nav ul li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    justify-content: center;
    text-transform: uppercase;
}
nav a:hover{
    color: black;
    border-radius: 5px;
}

nav a:active{
    color: red;
}

@font-face {
    font-family: mexican;
    src: url(../assets/fonts/MexicanTequila.ttf);
  }

h1{
    font-family: mexican;
    font-size: 30px;
    font-weight: 200;
    color: yellow;
}

ul li:hover {
    background-color: rgba(255, 215, 0, 0.36);
    padding: 10px;
    border-radius: 5px;
}

img {
    margin-top: 5px;
}

#image_ani{
    margin: auto;
    animation: mymove 5s infinite;
}
  
@keyframes mymove {
    50% {transform: rotate(2deg);}
}
  